@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <h1 class="@Css.H1">Invalid password reset</h1>

    <p class="my-4">
        The password reset link is invalid.
    </p>

</div>
