@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <h3 class="@Css.H3">Invalid user</h3>

    <div class="max-w-xl">
        <StatusMessage />
    </div>

</div>
