@page "/counter"

<PageTitle>Counter</PageTitle>

<div class="mt-8 mb-20 mx-auto max-w-fit">
    <h1 class="@Css.H1">Counter</h1>

    <div data-component="pages/Counter.mjs"></div>

    <div>
        <div class="mt-8 flex justify-center gap-x-4">
            <SrcRazorPage Path="Counter.razor" />
            <SrcVuePage Path="Counter.mjs" />
        </div>
    </div>

</div>

