@page "/todomvc"
@inherits AppComponentBase

<div class="mt-8 mb-20 mx-auto max-w-fit">

    <h1 class="mb-4 @Css.H1">Todos Application</h1>

    <div id="todomvc" data-component="Pages/TodoMvc.mjs" data-props=@BlazorHtml.Raw("{todos:" + todosJson?.Value + "}")></div>

    <div>
        <div class="mt-8 flex justify-center gap-x-4">
            <SrcRazorPage Path="TodoMvc.razor" />
            <SrcVuePage Path="TodoMvc.mjs" />
        </div>
        <h4 class="mt-8 text-center text-xl">
            <a href="/ui/QueryTodos" data-enhance-nav="false" class="font-semibold text-indigo-600 dark:text-indigo-300 hover:text-indigo-500">Manage Todos</a> in API Explorer
        </h4>
    </div>

</div>

@code {
    MarkupString? todosJson = new("null");

    [Inject] IServiceGatewayFactory GatewayFactory { get; set; } = default!;
    [CascadingParameter] HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var gateway = GatewayFactory.GetServiceGateway(HttpContext.ToRequest());
        todosJson = await gateway.ApiResultsAsJsonAsync(new QueryTodos());
    }
}
